.login-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100vw;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.login-stack {
    height: 135px;
    position: relative;
    width: 250px
}

.login-card {
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    background-color: #5AB0FF;
    border: 2px solid #1A1A1A;
    border-radius: 5px;
    height: 135px;
    position: absolute;
    width: 100px;
}

.login-left {
    animation-delay: 0.1s;
    animation-name: login-slide-left;
    left: 0;
    rotate: 0deg;
    top: -500px;
    z-index: 1;
}

@keyframes login-slide-left {
    from {
        rotate: 0deg;
        top: -500px;
    }
    to {
        rotate: -12deg;
        top: -15px;
    }
}

.login-center {
    animation-delay: 0.3s;
    animation-name: login-slide-center;
    left: 75px;
    rotate: 0deg;
    top: -500px;
    z-index: 2;
}

@keyframes login-slide-center {
    from {top: -500px;}
    to {top: 0;}
}

.login-right {
    animation-delay: 0.2s;
    animation-name: login-slide-right;
    right: 0;
    rotate: 0deg;
    top: -500px;
    z-index: 1;
}

@keyframes login-slide-right {
    from {
        rotate: 0deg;
        top: -500px;
    }
    to {
        rotate: 12deg;
        top: -15px;
    }
}