.cancel-button {
    background-color: #5AB0FF;
    border: 2px solid #5AB0FF;
    border-radius: 50%;
    color: #1A1A1A;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3rem;
    padding: 10px;
    text-align: center;
    transition: all is ease;
    transition-duration: 0.2s;
    width: 3rem;
}

.cancel-button:hover {
    background-color: #1A1A1A;
    color: #5AB0FF;
}