.deck-div {
    align-items: start;
    background-color: #5AB0FF;
    color: #1A1A1A;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.5rem;
    justify-content: center;
    padding: 10px;
    transition: all is ease;
    transition-duration: 0.2s;
}

.deck-div:hover {
    background-color: #3e7db8;
}

.deck-description {
    font-size: 1rem;
}

.deck-timestamp {
    font-size: 1rem;
}